$text-neutral: #4E4B66;
$text-distinct: #6E7191;
$text-light: #A0A3BD;
$text-emphasize: #202223;
$text-green: #69BC35;

$fills-lift: #F9F9FC;
$fills-yellow-light: #FFF7DB;
$fills-yellow-dark: #F4E8BE;

$bg-main: #F7F7FC;
$bg-soft-gray: #E6E9F1;
