@import './variables/colors.scss';

.text-neutral {
  color: $text-neutral;
}

.text-distinct {
  color: $text-distinct;
}

.text-light {
  color: $text-light;
}

.text-emphasize {
  color: $text-emphasize;
}

.text-green {
  color: $text-green;
}
